html				{background-image: url("../img/bouw.jpg");}

body				{ background-color: #ffffff;
					  font-family: Leelawadee;
					  width: 1024px;
					  border-radius: 5px;
				      margin: auto;
					  padding: 24px;
					  opacity: 0.8; }

header h1			{ font-family: "Leelawadee";
					  font-size: 32px;
					  color: #00a2e8;
					  margin: 16px; }
			  
nav					{ background-color: #00a2e8;
					  text-transform: uppercase; 
					  border-radius: 20px; }
			 
nav ul      		{ list-style-type: none;
					  padding: 16px; }

nav ul li   		{ display: inline;
					  border-right: 2px solid #ffffff;
					  padding-right: 24px;
					  padding-left: 26px; }

nav ul li a			{ text-decoration: none;
					  color: #ffffff; }
			  
nav ul li a:hover	{ text-decoration: underline; }

h2					{ font-size: 22px;
					  color: #00a2e8;
					  margin-top: 5px; }
					  
strong				{ color: #00a2e8; }

article				{ float: left;
					  width: 67.5%; }	
					  
aside				{ width: 30.9&;
					  margin-bottom: 16px;
					  padding-left: 71.1%; }

section				{ background-color: #cce9ff;
					  border-radius: 20px;
					  margin-bottom: 16px;
					  padding: 16px; }

section ul   		{ list-style-type:none;
					  margin: 0;
					  padding: 0;
					  border: 1px dotted blue;
					  display: flex;
					  flex-direction: row;
					  justify-content: space-evenly;}
					  
section ul li       {border: 1px solid black;
					 margin: 0.5em;
					 padding: 0.5em;}
	
footer 				{ clear: both;
					  background-color: #cce9ff;
					  color: #00a2e8;
					  border-radius: 20px;
					  padding: 12px; }
					  
aside img 			{ max-width: 100%;
					  border-radius: 20px;}
					  
article img         { max-width: 100%; }

.button				{background-color: #00a2e8;
					  border-radius: 20px;
					  display: inline-block;
					  padding: 10px;
					  color: #ffffff;
					  text-decoration: none;
					  font-size: 14px;
					  letter-spacing: 0px; }

input[type=submit],
section button {
        width:120px;
        height:25px;
        margin:0px 20px 0px 0px;
        border:none;
        border-radius:15px;
        background-color:#00a2e8;
        background-color:#00a2e8;
        color:#FFFFFF;
        font-size:14px;
        cursor:hand;
        cursor:pointer;
		font-family: "Leelawadee";
}

nav button {
		width: 62px;
        margin:0px 20px 0px 0px;
        border:none;
        border-radius:15px;
        background-color:#00a2e8;
        color:#FFFFFF;
        font-size:14px;
        cursor:hand;
        cursor:pointer;
		font-family: "Leelawadee";
}

.dropbtn {
  color: #ffffff ;
  font-family: Leelawadee;
  padding: 1px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #00a2e8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #00a2e8;
							color:#f1f1f1;
							border-radius: 5px;}

.dropdown:hover .dropdown-content {display: block;}

p a {text-decoration: strong;
	 color:#00a2e8;}